@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.projectsWrapper {
	position: relative;
	height: 90vh;
}
.projectsWrapper::before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../../utils/imgs/bg_imgs/my_projects_bg.jpg') no-repeat center;
	background-size: cover;
}

.mainContent {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.headingTitleBlock {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1em;
}

.headingTitleBlock > h1  {
	color: var(--primary-dark);
	font-family:'Nunito', sans-serif;
	font-size: 2.5rem;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin: 1em;
}

.card {
	width: 17em;
	padding: .5em;
}
.card > img {
	border-bottom: .125em solid var(--primary-dark);
}

.card:hover {
	border: 5px solid var(--primary-orange);
	box-shadow: 2px 2px 5px 2px;
	transform: scale(1.1);
	transition: .5s ease-out;
}

.card > div > h5 {
	font-size: 1.2rem;
	font-family: 'Noto Sans KR', sans-serif;
	text-transform: uppercase;
}
.card > div > p {
	font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320)));
}

.socialWebTitle {
	font-family: 'Garamond', sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
}

@media only screen  and (min-width : 1224px) {
	.card > div > p{
		font-size: 1.2rem;
	}
}

@media (max-width: 776px) {
	.cards {
		flex-direction: column;
	}
	.card {
		max-width: 80%;
		margin: 1em;
	}
	.card > div > p {
		display: none;
	}
}
@media (max-width: 776px) {
	.cards {
		flex-direction: column;
		align-items: center;
	}
	.card {
		max-width: 80%;
		margin: 1em;
	}
	.card > div > p {
		display: none;
	}
}