@import '../../App.css';

.navBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 10vh;
	background-color: #7f7f7f;
	z-index: 2;
}
.logo {
	margin-top: .6em;
	width: 3.5em;
}

.hamMenu {
	color: #fff;
}
/* links */

a.nav-link {
	font-size: .8rem;
    letter-spacing: 1rem;
	cursor: pointer;
}

nav ul li {
	text-transform: uppercase;
}

.navBarBrand {
	max-width: 9em;
	padding: 0;
	height: 6rem;
}

.navLink {
    margin-left: 0.75rem;
	letter-spacing: 0.1rem;
    color: var(--primary-white) !important;
	border-top: 0.1875rem solid var(--prmary-invisable);
	transition: 0.3s;
}

.activeLink,
.navLink:hover,
.activeLink:focus {
	border-top: var(--active-border-top);
}

.navLink:hover {
	color: var(--primary-orange);
}
