.wrapper {
	position: relative;
	height: 90vh;
	margin-top: 10vh;
}

.wrapper::before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../../utils/imgs/bg_imgs/contacts_page_bg.jpg') no-repeat center;
	background-size: cover;
	opacity: .5;
}

.mainContent {
	width: 50vw;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.mainContent > .formContainer > form > .formGroup {
	color: white;
	font-size: 1.5rem;
}